<!--<h2>Este es un mensaje del componente perro {{texto}}</h2>
<app-persona></app-persona>
<app-perro (emisor)="recibirLadrido($event)" [nombre]="'copito'"></app-perro>
<app-ejemplo></app-ejemplo>-->
<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar"> <!--*ngIf="loginService.estadoLogeado()">-->
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
      <h1 class="example-app-name">Consulta Medica</h1>
      <span class="example-spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <button mat-menu-item >
          <mat-icon>account_box</mat-icon>
          <span>Mi Perfil</span>
        </button>
        <!--(click)="sidenav.opened=false"-->
        <button mat-menu-item><!---  (click)="loginService.cerrarSesion()">-->
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
  
    </mat-toolbar>
    
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav mode="side" sytle="width:200px">
        <img src="assets/logo.png" width="64">
        <!--<button mat-menu-item *ngFor="let d of menus"(click)="sidenav.toggle()" routerLink="{{d.url}}" style="cursor: pointer">
          <mat-icon>{{d.icono}}</mat-icon>
          <span>{{d.nombre}}</span>
        </button>      -->
        <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer">
            <mat-icon>accessible</mat-icon>
            <span>Pacientes</span>
          </button>
          <span class="example-spacer"></span> 
          <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer">
            <mat-icon>local_hospital</mat-icon>
            <span>Medicos</span>
          </button>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/examen"style="cursor: pointer">
            <mat-icon>insert_drive_file</mat-icon>
            <span>Examen</span>
          </button>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidad" style="cursor: pointer">
            <mat-icon>perm_identity</mat-icon>
            <span>Especialidades</span>
          </button>
          <button mat-menu-item (click)="sidenav.toggle()" style="cursor: pointer">
            <mat-icon>calendar_today</mat-icon>
            <span>Consulta</span>
          </button>
          
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>    
        <!--<router-outlet name="classroom"></router-outlet>-->
      </mat-sidenav-content>
      
    
    
    </mat-sidenav-container>
  </div>

